
.about__figure {
    display: flex;
    align-items: flex-start;
} 

.about__figure:before {
    content: '';
    background: url(../img/about-background.jpg) no-repeat top center;
    background-size: cover;
    flex: 600px;
    padding-bottom: calc(100% - 500px - 7%);
    margin-right: 6%;
}

.about__figcaption {
    flex: 1 500px;
}

.about__us {
    margin-bottom: 59px;
}

/*.about__us:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    float: left;
    background: url(../img/about-background.jpg) no-repeat top left;
    width: 600px;
    height: 596px;
    padding-left: 680px;
} */

.about__text:not(:last-child) {
    margin-bottom: 30px;
}

.about__blockquote {
    position: relative;
    padding-left: 31px;
    margin: 0;
    text-align: right;
}

.about__cite {
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: left;
    white-space: pre-line;
    margin: 0 0 40px;
}

.about__cite:before {
    content:'\201c';
    position: absolute;
    top: -8px;
    left: 0;
    color: #6C0287;
    font-weight: 900;
}

.about__cite:after {
    content:' \201d';
    color: #6C0287;
    font-weight: 900;
}

.about__creator {
    display: flex;
    justify-content: flex-end;
}

.about__creator-name {
    flex: 0 279px;
    padding-right: 40px;
    text-align: left;
}

.about__creator:before {
    content: '';
    background-image: url(../img/creator.jfif);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -10px center;
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    margin-right: 30px;
}