.about__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 0 60px;
    text-align: center;
}

.about__us {
    margin-bottom: 78px;
}

.about__text {
    margin: 0;
}

.about__text:not(:last-child) {
    margin-bottom: 30px;
}

.about__blockquote {
    position: relative;
    padding-left: 55px;
    margin: 0;
    text-align: right;
}

.about__cite {
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: left;
    white-space: pre-line;
    margin: 0 0 40px;
}

.about__cite:before {
    content:'\201c';
    position: absolute;
    top: -8px;
    left: 0;
    color: #6C0287;
    font-weight: 900;
}

.about__cite:after {
    content:' \201d';
    color: #6C0287;
    font-weight: 900;
}

.about__creator {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 auto;
}

.about__creator-name {
    display: inline-block;
    vertical-align: middle;
    max-width: 279px;
    padding-right: 40px;
    text-align: left;
}

.about__creator:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/creator.jfif);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -10px center;
    width: 80px;
    height: 80px;
    margin-right: 30px;
}