:root {
    --text-color: #fff;
    --bg-color: #1B1A1B;
    --color-transparent: #0000;
    --main-title-element-color: #CD06FF;
    --main-link-button: #6C0287;
    --main-link-button-hover: #840AA3;
    --main-link-button-active: #640AA3;
    --main-link-button-focus: #840AA3;
    --main-arrow-link-focus: #CD06FF;
    --menu-link-hover: #CD06FF;
    --menu-link-focus: #640AA3;
    --menu-button-outline: #CD06FF;
    --memu-button-hover: #6C0287;
    --memu-button-bg-active: #640AA3;
    --memu-button-outline-active: #000;
    --memu-button-focus: #6C0287;
    --entertainment-shadow-hover: #ffffff32;
    --halls-link-bg-hover: #CD06FF48;
    --halls-link-outline-focus: #CD06FF;
    --halls-link-bg-active: #ffffff48;
    --order-bg: #440F51;
    --order-halls-label-bg: #fff;
    --order-halls-label-outline: #fff;
    --order-halls-label-bg-hover: #EADEED;
    --order-halls-label-outline-hover: #640AA3;
    --order-halls-label-bg-focus: #fff;
    --order-halls-label-outline-focus: #640AA3;
    --order-halls-label-bg-active: #6C0287;
    --order-halls-label-outline-active: #fff;
    --order-entertainment-input-check: #440F51;
    --order-entertainment-input-outline-focus: #CD06FF;
    --order-data-outline-focus: #CD06FF;
    --order-data-input-bg: #fff;
    --order-data-input-color: #211E1E;
    --order-button-bg: #fff;
    --order-button-color: #6C0287;
    --order-button-outline-hover: #6C0287;
    --order-button-bg-hover: #EADEED;
    --order-button-outline-focus: #6C0287;
    --order-button-bg-focus: #fff;
    --order-button-bg-active: #EADEED;
    --order-button-outline-active: #EADEED;
    --about-quote: #6C0287;
    --review-gradient-center: #C4C4C400;
    --review-gradient-circle: #6C028780;
    --faq-bg-even: #440F51;
    --faq-bg-odd: #fff;
    --contacts-bg-color-gradient: #370A37;
    --contacts-link-hover: #CD06FF;
    --contacts-link-shadow-hover: #ffffff80;
    --copyright-link-hover: #CD06FF;
    --copyright-link-shadow-hover: #ffffff80;
    --socials-hover: #EADEED;
    --socials-border-focus: #CD06FF;
    --socials-focus: #EADEED;
    --socials-active: #CD06FF;
}