.contacts {
    padding-top: 50px;
}

.address {
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 39px;
}

.contacts-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 0 60px;
    text-align: center;
}

/*.block-address {
    margin: 0 0 38px;
}

.block-address:before {
    content: '';
    display: inline-block;
    background-image: url(img/location.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 35px;
    height: 55px;
    float:left;
    margin-right:30px;
}*/

.contact-item {
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding-left: 65px;
}

.contact-address {
    margin: 0 0 38px;
    max-width: 300px;
    background-image: url(../img/location.svg);
    background-size: 35px 35px;
}

.contact-tel {
    margin: 0 0 11px;
    background-image: url(../img/phone-call.svg);
}

.contact-mail {
    margin: 0;
    background-image: url(../img/envelope.svg);
}

.socials {
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 0;
}

.socials-item {
    display: inline-block;
    vertical-align: middle;
}

.socials-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.socials-item:not(:last-child) {
    margin-right: 26px;
}