.contacts__address {
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 39px;
}

.contacts__title {
    margin: 0 0 60px;
}

.contacts__item {
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding-left: 65px;
}

.contacts__item_address {
    margin: 0 0 38px;
    max-width: 300px;
    background-image: url(../img/location.svg);
    background-size: 35px 35px;
}

.contacts__item_tel {
    margin: 0 0 11px;
    background-image: url(../img/phone-call.svg);
}

.contacts__item_mail {
    margin: 0;
    background-image: url(../img/envelope.svg);
}

.socials {
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 0;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
}

.socials__link {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.socials__item:not(:last-child) {
    margin-right: 26px;
}