.contacts {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
    padding-bottom: 10px;
}

.contacts__address {
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 39px;
}

.contacts__figure {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}
/*
.contacts__title {
    margin: 0 0 60px;
}
*/
.contacts__item {
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding-left: 65px;
}

.contacts__item_address {
    margin: 0 0 38px;
    max-width: 300px;
    background-image: url(../img/location.svg);
    background-size: 35px 35px;
}

.contacts__item_tel {
    margin: 0 0 11px;
    background-image: url(../img/phone-call.svg);
}

.contacts__item_mail {
    margin: 0;
    background-image: url(../img/envelope.svg);
}

.socials {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 0;
}

.socials__link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #CD06FF00;
}

.socials__link:hover {
    color: #EADEED;
}

.socials__link:active {
    color: #CD06FF;
}

.socials__link:focus {
    color: #EADEED;
    border: 1px solid #CD06FF;
}

.socials__item:not(:last-child) {
    margin-right: 26px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.copyright_set {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.copyright__text {
    color: #FFF;
    font-size: 14px;
    line-height: 1.14;
}

.copyright__text_bottom {
    margin-bottom: 6px;
}
