.entertainment__title {
    white-space: pre-line;
}

.entertainment__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.entertainment__item {
    display: flex;
    min-height: 228px;
    flex: 1 1 380px;
    padding: 6px 40px;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;
    font-weight: 700;
    white-space: pre-line;
    transition: all .5s ease;
}

.entertainment__item:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #ffffff32;
}
/*
.entertainment__text {
    min-height: 56px;  
}*/

.entertainment__item_img_vr {
    background-image: url('../img/entertaiment-vr.jpg');
}

.entertainment__item_img_audio {
    background-image: url('../img/entertaiment-audio.jpg');
}

.entertainment__item_img_karaoke {
    background-image: url('../img/entertaiment-karaoke.jpg');
}

.entertainment__item_img_games {
    background-image: url('../img/entertaiment-games.jpg');
}

.entertainment__item_img_kino {
    background-image: url('../img/entertaiment-kino.png');
}

.entertainment__item_img_ps {
    background-image: url('../img/entertaiment-playstation.jpg');
}


