.faq__list {
    padding-left:0;
    margin: 0;
    list-style: none;
}

.faq__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    background-color: var(--faq-bg-even);
    font-weight: 700;
    font-size: 24px;
    padding: 20px 70px;
}

.faq__item:not(:last-child) {
    margin-bottom: 20px;
}

.faq__item:nth-child(odd){
    --text-color: #1C1A1A;
    color: var(--text-color);
    background-color: var(--faq-bg-odd);
}

.faq__item:after {
    content: '';
    width: 46px;
    height: 46px;
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">\
        <path d="M22.8305 14H23.5085V34H22.8305V14Z" fill="%236C0287"/>\
        <path d="M13 24.1695V23.4915H33V24.1695H13Z" fill="%236C0287"/>\
        <circle cx="23" cy="23" r="22.5" stroke="%236C0287"/>\
    </svg>');
    background-size: 46px;
    background-repeat: no-repeat;
    transition: background .5s ease;
    flex-shrink: 0;
    cursor: pointer;
}

.faq__item:hover:after {
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">\
        <circle cx="23" cy="23" r="22.5" fill="%236C0287" stroke="%236C0287"/>\
        <path d="M22.8305 14H23.5085V34H22.8305V14Z" fill="white"/>\
        <path d="M13 24.1695V23.4915H33V24.1695H13Z" fill="white"/>\
    </svg>');
}

.faq__item:active:after {
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">\
        <circle cx="23" cy="23" r="22.5" stroke="%236C0287"/>\
        <rect x="13" y="23" width="20" height="1" fill="%236C0287"/>\
    </svg>');
}

.faq__item:nth-child(even):after {
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">\
        <path d="M22.8305 14H23.5085V34H22.8305V14Z" fill="white"/>\
        <path d="M13 24.1695V23.4915H33V24.1695H13Z" fill="white"/>\
        <circle cx="23" cy="23" r="22" stroke="white" stroke-width="2"/>\
    </svg>');
}

.faq__item:nth-child(even):hover:after {
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">\
        <circle cx="23" cy="23" r="22.5" fill="white" stroke="white"/>\
        <path d="M22.8305 14H23.5085V34H22.8305V14Z" fill="%236C0287"/>\
        <path d="M13 24.1695V23.4915H33V24.1695H13Z" fill="%236C0287"/>\
    </svg>');
}

.faq__item:nth-child(even):active:after {
    background-image: url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" fill="none">\
        <rect x="13" y="23" width="20" height="1" fill="white"/>\
        <circle cx="23" cy="23" r="22" stroke="white" stroke-width="2"/>\
    </svg>');
}