html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Fira sans', 'Droid sans', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; 
    background-color: #1B1A1B;
    color: #FFFFFF;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
height: auto;
}


button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
    position: fixed;
    transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

.section {
    padding:50px 0;
}

.title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 40px;
}