.halls__title {
    margin: 0 0 60px;
}

.halls__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.halls__item {
    padding: 275px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;
}

.halls__item:not(:last-child) {
    margin-bottom:60px;
}

.halls__item_vibes {
    background-image: url('../img/halls-vibes.jpg');
}

.halls__item_star {
    background-image: url('../img/halls-star.jpg');
}

.halls__item_west {
    background-image: url('../img/halls-west.jpg');
}

.halls__item_neon {
    background-image: url('../img/halls-neon.jpg');
}

.halls__link {
    display: inline-block;
    max-width: 252px;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff; 
}
