.halls {
    padding-bottom: 100px;
}

.halls__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.halls__item {
    display: flex;
    text-align: center;
    background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;
    flex: 1 1 580px;
}

.halls__item_vibes {
    background-image: url('../img/halls-vibes\ 580.jfif');
}

.halls__item_star {
    background-image: url('../img//halls-star\ 580.jpg');
}

.halls__item_west {
    background-image: url('../img/halls-west\ 580.jpg');
}

.halls__item_neon {
    background-image: url('../img/halls-neon\ 580.jpg');
}

.halls__link {
    position: relative;
    z-index: 1;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    min-width: 100%;
    padding: 95px 0;
    white-space: pre-line;
    transition: all .5s ease;    
}

.halls__link:before {
    content:'';
    display: block;
}

.halls__link:hover:before {
    content:'';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CD06FF48;
    transition: all .5s ease; 
}

.halls__link:focus {
    outline: 1px solid #CD06FF;
    outline-offset: 5px;
}

.halls__link:active:before {
    background: #ffffff48;
}