.header {
    padding-top: 30px;
    padding-bottom: 25px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 40px;
}

.menu__link {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    transition: color .5s ease-in;
}

.menu__link:hover {
    color: var(--menu-link-hover);
}

.menu__link:focus {
    color: var(--menu-link-focus);
}

.menu__button {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.364;
    text-transform: uppercase;
    padding: 12px 32px 13px;
    border-radius: 10px;
    border: none;
    outline: 3px solid var(--menu-button-outline);
    outline-offset: -3px;
    background: transparent;
    align-self: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: all .3s ease-in;
}

.menu__button:hover {
    background: var(--memu-button-hover);
    outline:  3px solid var(--memu-button-hover);
    outline-offset: -3px;
}

.menu__button:focus {
    background: var(--memu-button-focus);
    outline:  3px solid var(--memu-button-focus);
    outline-offset: -3px;
}

.menu__button:active {
    outline: 1px solid var(--memu-button-outline-active);
    outline-offset: -1px;
    background: var(--memu-button-bg-active);
}




