.main {
    padding-top: 25px;
}

.main__container{
    min-height: 823px;
    background: url('../img/main-banner.png') no-repeat bottom right 30px;
}

.main__title {
    position: relative;
    z-index: -1;
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -15px;
    margin:0;
}

.main__subtitle {
    font-size: 28px;
    line-height: 50px;
    margin:0;
    padding-left:100px;
}

.main__group {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 150px;
}

.main__element {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.main__title-element {
    color: #CD06FF;
    font-weight: 900;
}

.main__title-element_small-size-font {
    font-size: 75px;
    font-variant: small-caps;
}

.main__title-element_big-size-font {
    font-size: 100px;
}

.main__text {
    white-space: pre-line;
    font-size: 30px;
}

.main__button {
    display: flex;
}
.main__link-button {
    border-radius: 10px;
    background: #6C0287;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15; /* 115.385% */
    text-transform: uppercase;
    padding: 25px 69px;
}

.main__arrow-link {
    display: inline-flex;
    position: relative;
    font-size: 0;
    bottom: 33px;
    left: calc(50% - 46px);
}