.main {
    padding-top: 145px;
}

.main__container{
    min-height: 823px;
    background: url('../img/main-banner.png') no-repeat bottom right;
}

.page__title {
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -15px;
    margin:0;
}

.page__subtitle {
    font-size: 28px;
    line-height: 50px;
    margin:0;
    padding-left:100px;
}