.order {
    background: #440F51;
    padding: 80px 0;
}

.order__halls {
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 60px;
}

.fieldset_direct_row {
    display: flex;    
    border: none;
    padding: 0;
}

.fieldset__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.order__halls-input {
    display: none;
}

.order__halls-label {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */ 
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    outline: 3px solid #fff;
    outline-offset: -3px;
    background: #FFF;
    flex: 250px;
    padding: 7px 15px 8px;
    transition: all .5s ease;    
}

.order__halls-label:hover {
    outline: 3px solid #640AA3;
    background: #EADEED;
}

.order__halls-label:active {
    outline: 3px solid #FFF;
    background: #6C0287;
    color: #fff;
}

.order__halls-label:focus {
    outline: 3px solid #640AA3;
    background: #FFF;
}

.order__fieldset {
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto 60px;
}

.column {
    display: flex;
    flex-direction: column;
}

.order__column {
    border: none;
    padding: 0;
}

.column__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 23px;
}

.column__label {
    position: relative;
    color: #fff;
    font-size: 22px;
    align-self: flex-start;
    align-items: center;
    line-height: normal;
}

.column__label_padding_checkbox {
    padding-left: 37px;
}

.column__label_padding_radio {
    padding-left: 39px;
}

.column__label:not(:last-child) {
    margin-bottom: 22px;
}

.column__radio-input {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.column__radio-input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border-radius: 50%;
}

.column__radio-input:focus:before {
    outline: 1px solid #CD06FF;
    outline-offset: 3px;
    border-radius: 0;
 }

.column__radio-input:after {
    content: '';
    position: absolute;
    display: block;
    top: 13.5px;
    left: 13.5px;
    width: 15px;
    height: 15px;
    background-color: #440F51;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.column__radio-input:focus-visible {
    outline: none;
}

.column__radio-input:checked:after {
    opacity: 1;
}

.column__checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.column__checkbox-input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #fff;
}

.column__checkbox-input:focus:before {
   outline: 1px solid #CD06FF;
   outline-offset: 3px;
}

.column__checkbox-input:after {
    content: '';
    position: absolute;
    display: block;
    top: 13.5px;
    left: 13.5px;
    width: 13px;
    height: 13px;
    background-color: #440F51;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.column__checkbox-input:focus-visible {
    outline: none;
}

.column__checkbox-input:checked:after {
    opacity: 1;
} 

.data {
    gap: 50px;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column-data {
    min-height: 280px;
    flex: 0 1 300px;
}

.column-data:after {
    content: '';
    flex: 1;
}

.column-date {
    padding-top: 22px;
    flex: 0 1 300px;
    row-gap: 36px;
    justify-content: flex-end;
}

.column-name {
    flex: 1;
}

.data__label {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 6px;
}

.data__input {
    background: #FFF;
    padding: 12px 26px;
    font-size: 18px;
    color: #211E1E;
    font-family: Arial;
    line-height: 1.56;
    border: none;
}

.data__input:focus {
    outline: 2px solid #CD06FF;
    outline-offset: -1px;
}

.date {
    display: flex;
    gap: 32px;
}

.date__input {
    background: #FFF;
    padding: 11px 26px;
    max-width: 134px;
    line-height: 28px; 
    font-size: 18px;   
    color: #211E1E;  
    border: none;
}

.date__input:focus {
    outline: 2px solid #CD06FF;
    outline-offset: -1px;
} 

.data__input::-webkit-input-placeholder {
    color: #211E1E;
    font-size: 18px;
}

.data__input:active {
    outline: none;
}

.date__input:active {
    outline: none;
}

.data__input:not(:last-child) {
    margin-bottom: 14px;
}

.order__button {
    margin-left: auto;
    color: #6C0287;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27; /* 127.273% */
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    outline: 3px solid #fff;
    outline-offset: -3px;
    background: #FFF;
    padding: 16px 50px;
    order: 1;
    transition: all .5s ease;
}

.order__button:hover {
    outline: 3px solid #6C0287;
    background: #EADEED;
}

.order__button:active {
    outline: 3px solid #EADEED;
    background: #EADEED;;
}

.order__button:focus {
    outline: 3px solid #6C0287;
}