.review__list {
    max-width: 980px;
    margin: 0 auto;
}

.review__item {
    display: flex;  
}

.review__item:not(:last-child) {
    margin-bottom: 50px;
}

.review__user {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

.review__user:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 280px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, var(--review-gradient-center) 0%, var(--review-gradient-circle) 100%); 
}

.review__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 11px;
    object-fit: cover;
}

.review__text {
    padding-top: 52px;
    flex: 1;
}

.max {
    object-position: top;
}

.oxy {
    object-position: 0 -50px;
}

