.review__title {
    margin: 0 0 40px;
}
/*
.review__container {
    padding: 0 130px;
}*/
.review__list {
    max-width: 980px;
    margin: 0 auto;
}

.review__item {
    display: flow-root;  
}

.review__item:not(:last-child) {
    margin-bottom: 50px;
}

.review__user {
    display: inline-block;
    text-align: center;
    margin-right: 2%;
    float: left;
    width: calc(100% - 680px - 2%);
}

.review__img {
    width: 100%;
    max-width: 280px;
    max-height: 280px;
    clip-path:circle();
    margin-bottom: 11px;
    object-fit: cover;
}

.review__text {
    padding-top: 52px;
    max-width: 680px;
    float: right;
}

.max {
    object-position: top;
}

.oxy {
    object-position: 0 -50px;
}

