/*.review__title {
    margin: 0 0 40px;
}

.review__container {
    padding: 0 130px;
}*/
.review__list {
    max-width: 980px;
    margin: 0 auto;
}

.review__item {
    display: flex;  
}

.review__item:not(:last-child) {
    margin-bottom: 50px;
}

.review__user {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

.review__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 11px;
    object-fit: cover;
}

.review__text {
    padding-top: 52px;
    flex: 1;
}

.max {
    object-position: top;
}

.oxy {
    object-position: 0 -50px;
}

