.order {
    margin-bottom: 100px;
}

.order-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 0 50px;
    text-align: center;
}